body{
     background-color: rgb(203, 198, 198);
     color: black;
}
#darkMode{
     border-radius: 4px;
     border: 2px solid gray;
     background-color: black;
     color: white;
     margin: 20px auto;
     padding: 5px;
     display: flex;
     flex-direction: row;
     justify-content: center;
}
#lightMode{
     border-radius: 4px;
     border: 2px solid gray;
     background-color: white;
     color: black;
     margin: 20px auto;
     padding: 5px;
     display: flex;
     flex-direction: row;
     justify-content: center;
}
.container{
     margin: 20px;
     padding: 50px;
     background-color: white;
     border-radius: 6px;
     align-items: center;
}